services:

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DB_HOST: user-db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASS: postgres
    depends_on:
      - user-db

  user-db:
    image: postgres:16
    container_name: user-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: users_db
    ports:
      - "5433:5432"
    volumes:
      - user_db_data:/var/lib/postgresql/data

volumes:
  user_db_data: