services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: myzookeeper
    ports:
      - "22181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: mykafka
    ports:
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: ${KAFKA_BROKER_ID}
      KAFKA_ZOOKEEPER_CONNECT: ${KAFKA_ZOOKEEPER_CONNECT}
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: mykafka-ui
    ports:
      - "8090:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: ${KAFKA_BOOTSTRAP_SERVERS}
      KAFKA_CLUSTERS_0_ZOOKEEPER: ${KAFKA_ZOOKEEPER_CONNECT}
    depends_on:
      - kafka
      - zookeeper

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      USER_DB_HOST: ${USER_DB_HOST}
      USER_DB_PORT: ${USER_DB_PORT}
      USER_DB_NAME: ${USER_DB_NAME}
      USER_DB_USER: ${USER_DB_USER}
      USER_DB_PASSWORD: ${USER_DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      EUREKA_URL: ${EUREKA_URL}
    depends_on:
      - user-db

  user-db:
    image: postgres:16
    container_name: user-db
    environment:
      POSTGRES_USER: ${USER_DB_USER}
      POSTGRES_PASSWORD: ${USER_DB_PASSWORD}
      POSTGRES_DB: ${USER_DB_NAME}
    ports:
      - "5433:5432"
    volumes:
      - user_db_data:/var/lib/postgresql/data

  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "8082:8082"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      PRODUCT_DB_HOST: ${PRODUCT_DB_HOST}
      PRODUCT_DB_PORT: ${PRODUCT_DB_PORT}
      PRODUCT_DB_NAME: ${PRODUCT_DB_NAME}
      PRODUCT_DB_USER: ${PRODUCT_DB_USER}
      PRODUCT_DB_PASSWORD: ${PRODUCT_DB_PASSWORD}
      EUREKA_URL: ${EUREKA_URL}
    depends_on:
      - product-db

  product-db:
    image: postgres:16
    container_name: product-db
    environment:
      POSTGRES_USER: ${PRODUCT_DB_USER}
      POSTGRES_PASSWORD: ${PRODUCT_DB_PASSWORD}
      POSTGRES_DB: ${PRODUCT_DB_NAME}
    ports:
      - "5434:5432"
    volumes:
      - product_db_data:/var/lib/postgresql/data

  cart-service:
    build: ./cart-service
    container_name: cart-service
    ports:
      - "8083:8083"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      CART_DB_HOST: ${CART_DB_HOST}
      CART_DB_PORT: ${CART_DB_PORT}
      CART_DB_NAME: ${CART_DB_NAME}
      CART_DB_USER: ${CART_DB_USER}
      CART_DB_PASSWORD: ${CART_DB_PASSWORD}
      EUREKA_URL: ${EUREKA_URL}
    depends_on:
      - cart-db

  cart-db:
    image: postgres:16
    container_name: carts_db
    environment:
      POSTGRES_USER: ${CART_DB_USER}
      POSTGRES_PASSWORD: ${CART_DB_PASSWORD}
      POSTGRES_DB: ${CART_DB_NAME}
    ports:
      - "5435:5432"
    volumes:
      - cart_db_data:/var/lib/postgresql/data

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "8084:8084"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      ORDER_DB_HOST: ${ORDER_DB_HOST}
      ORDER_DB_PORT: ${ORDER_DB_PORT}
      ORDER_DB_NAME: ${ORDER_DB_NAME}
      ORDER_DB_USER: ${ORDER_DB_USER}
      ORDER_DB_PASSWORD: ${ORDER_DB_PASSWORD}
      EUREKA_URL: ${EUREKA_URL}
    depends_on:
      - order-db

  order-db:
    image: postgres:16
    container_name: order-db
    environment:
      POSTGRES_USER: ${ORDER_DB_USER}
      POSTGRES_PASSWORD: ${ORDER_DB_PASSWORD}
      POSTGRES_DB: ${ORDER_DB_NAME}
    ports:
      - "5436:5432"
    volumes:
      - order_db_data:/var/lib/postgresql/data

  payment-service:
    build: ./payment-service
    container_name: payment-service
    ports:
      - "8085:8085"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      PAYMENT_DB_HOST: ${PAYMENT_DB_HOST}
      PAYMENT_DB_PORT: ${PAYMENT_DB_PORT}
      PAYMENT_DB_NAME: ${PAYMENT_DB_NAME}
      PAYMENT_DB_USER: ${PAYMENT_DB_USER}
      PAYMENT_DB_PASSWORD: ${PAYMENT_DB_PASSWORD}
      STRIPE_SK: ${STRIPE_SK}
      STRIPE_WEBHOOK_SECRET: ${STRIPE_WEBHOOK_SECRET}
      EUREKA_URL: ${EUREKA_URL}
    depends_on:
      - payment-db

  payment-db:
    image: postgres:16
    container_name: payment-db
    environment:
      POSTGRES_USER: ${PAYMENT_DB_USER}
      POSTGRES_PASSWORD: ${PAYMENT_DB_PASSWORD}
      POSTGRES_DB: ${PAYMENT_DB_NAME}
    ports:
      - "5437:5432"
    volumes:
      - payment_db_data:/var/lib/postgresql/data

  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "8086:8086"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      NOTIFICATION_DB_HOST: ${NOTIFICATION_DB_HOST}
      NOTIFICATION_DB_PORT: ${NOTIFICATION_DB_PORT}
      NOTIFICATION_DB_NAME: ${NOTIFICATION_DB_NAME}
      NOTIFICATION_DB_USER: ${NOTIFICATION_DB_USER}
      NOTIFICATION_DB_PASSWORD: ${NOTIFICATION_DB_PASSWORD}
      SENDGRID_API_KEY: ${SENDGRID_API_KEY}
      EUREKA_URL: ${EUREKA_URL}
    depends_on:
      - notification-db

  notification-db:
    image: postgres:16
    container_name: notification-db
    environment:
      POSTGRES_USER: ${NOTIFICATION_DB_USER}
      POSTGRES_PASSWORD: ${NOTIFICATION_DB_PASSWORD}
      POSTGRES_DB: ${NOTIFICATION_DB_NAME}
    ports:
      - "5438:5432"
    volumes:
      - notification_db_data:/var/lib/postgresql/data

  eureka:
    build: ./eureka
    container_name: eureka
    ports:
      - "8761:8761"
    environment:
      SPRING_PROFILES_ACTIVE: docker

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      EUREKA_URL: ${EUREKA_URL}
    depends_on:
      - eureka

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=${ES_JAVA_OPTS}
      - bootstrap.memory_lock=true
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    volumes:
      - es-data:/usr/share/elasticsearch/data

  logstash:
    image: docker.elastic.co/logstash/logstash:7.17.0
    container_name: logstash
    ports:
      - "5044:5044"
      - "5000:5000/tcp"
      - "5000:5000/udp"
      - "9600:9600"
    volumes:
      - ./logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml:ro
      - ./logstash/pipeline:/usr/share/logstash/pipeline:ro
    environment:
      LS_JAVA_OPTS: ${LS_JAVA_OPTS}
    depends_on:
      - elasticsearch

  kibana:
    image: docker.elastic.co/kibana/kibana:7.17.0
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      ELASTICSEARCH_HOSTS: '["http://elasticsearch:9200"]'
      ELASTICSEARCH_URL: http://elasticsearch:9200
    depends_on:
      - elasticsearch

volumes:
  user_db_data:
  product_db_data:
  cart_db_data:
  order_db_data:
  payment_db_data:
  notification_db_data:
  prometheus_data:
  grafana_data:
  es-data:
